@media screen and (max-width: 2000px){

.cycle{
    background: #F7F7F7;
    height: 600px;
}
.ciclekid{
    margin-top: 100px;
}

.sandflea{
    text-align: left;
    margin-top: 100px;
}


.sandflea h1{
    font-size: 4.375rem;
    font-weight: 400;
    color: #00355A;
    line-height: 4.6875rem;
    letter-spacing: -.03em;
}
.sandflea p1{
    font-size: 34px;
    line-height: 1.2;
    font-weight: 400;
    color: #00355A;
}
.cycle .button1  {
    margin-top: 2em;
    display: inline-block;
    padding: .80em 3em .75em 3em!important;
    border: 2px solid #0590C8;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 18px;
    transition: .3s;
    font-weight: 500;
    line-height: 1;
    color: cadetblue!important;
}


}
@media screen and (max-width: 769px){
    .sandflea  h1{
        font-size: 3.25rem;
    line-height: 3.5rem;

    }
    .sandflea p1{
        font-size: 28px;
    }  
}
@media screen and (max-width: 426px){

    .cycle{
        height: 900px;
    }
    .sandflea{
        transform: translateY(-400px);
    }
    .ciclekid{
        transform: translateY(400px);
    }
}